[Unit]
Description=SDRconnect Server
After=network.target

[Service]
Type=simple
ExecStart=/opt/sdrconnect/SDRconnect --server
Restart=on-failure
RestartSec=5
